OWNER_NUMBER="237656520674"
MONGODB_URI=mongodb+srv://rahul:rahul@cluster0.ik98tiw.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
SESSION_ID = "ID-here"
THUMB_IMAGE = "https://telegra.ph/file/40ffc2a288542560c887c.jpg"
port = 5000
email = "Kermd237@gmail.com"
global_url = "https://www.instagram.com/_________rahul004_________?igsh=MTYyNWVmejAwejN1aA=="
OWNER_NAME = "☞⌜ KG TECH⌝☜"
READ_MESSAGE = false
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = false
ANTI_BAD_WORD = "fuck"
LEVEL_UP_MESSAGE= true
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th"
THEME= KERM_MD-V2
WORKTYPE = public
PACK_NAME = "Kerm-MD-V2"
ANTILINK_VALUES = "chat.whatsapp.com"
